{% extends "auctions/layout.html" %}

{% block body %}
    <h2 id="page-header">Watchlist</h2>

    {% for listing in watchlist %}
        <a href="{% url 'view-listing' listing.title %}" style="text-decoration:none">
            <div class="listing-container">
                <div class="listing-image-container">
                    <img class="listing-image" src="{{ listing.image }}"alt="{{ listing.title }}">
                </div>
                <div class="listing-content-container">
                    <div class="listing-title">{{ listing.title }}</div>
                    <div class="listing-description">{{ listing.description }}</div>
                    <b><div class="listing-price">{{ listing.highest_bid | floatformat:2 }}€</div></b>
                </div>
            </div>
        </a>
    {% empty %}
        <h1 class="listing-container">your watchlist is empty</h1>
    {% endfor %}
    
{% endblock %}
